doctype html
html
  head
    title Dogs List
  body
    a(href="/update-dogs") Add to this table
    h1 List of Dogs
    table
      thead
        tr
          th Name
          th Breed
          th Color
          th Created At
          th Last Modified
      tbody
        each dog in dogs
          tr
            td= dog.properties.name
            td= dog.properties.breed
            td= dog.properties.color
            td= dog.createdAt
            td= dog.properties.hs_lastmodifieddate